header.header
	a(href="#").header__logo
		img(src="./images/logo.png", alt="logo")
	.header__official Официальный представитель
		span Garmin, Polar, Suunto
	.header__contacts
		a.header__phone(href="+74999228974") +7 (499) 922-89-74
		a.btn.btn_header(href="#" data-modal='consultation') заказать звонок