section.advantage
	.container
		h2.title НАШИ ПРЕИМУЩЕСТВА
		.advantage__wrapper
			.advantage__block
				figure.advantage__img
					img(src="./images/icons/advantageIcons/cup.png", alt="cup")
				h3.advantage__header Делимся опытом
				p.advantage__text Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!
			.advantage__block
				figure.advantage__img
					img(src="./images/icons/advantageIcons/heart.png", alt="heart")
				h3.advantage__header Заботимся о здоровье
				p.advantage__text Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким!
			.advantage__block
				figure.advantage__img
					img(src="./images/icons/advantageIcons/shoe.png", alt="shoe")
				h3.advantage__header Учим бегать
				p.advantage__text Помогаем с обучением правильной технике бега! Дружим с крупнейшей школой бега в России - <span>I LOVE RUNNING.</span>