.slider
	.container
		.slider__inner
			figure.slider__photo
				img(src="./images/slider/slide1.jpg", alt="slide")
			figure.slider__photo
				img(src="./images/slider/slide2.jpg", alt="slide")
			figure.slider__photo
				img(src="./images/slider/slide3.jpg", alt="slide")