section.promo
	.container
		include header
		.promo__wrapper
			h1.promo__header Подбор пульсометра
			h2.promo__subheader с учётом Вашего уровня подготовки
			.promo__content
				figure.promo__icons
					img(src="./images/icons/promoIcons/timer.png", alt="timer")
					figcaption Время подбора: 10 минут
				figure.promo__icons
					img(src="./images/icons/promoIcons/handCart.png", alt="handCart")
					figcaption Бесплатная доставка
				figure.promo__icons
					img(src="./images/icons/promoIcons/messages.png", alt="messages")
					figcaption Ответим на все вопросы
			a.btn.btn_promo(href="#" data-modal='consultation') заказать кОНСУЛЬТАЦИЮ
			a.promo__moreLink(href="#") или ПЕРЕЙТИ В КАТАЛОГ
				