section.consultation
	.container#mainForm
		h2.title.title_left Получите бесплатную консультацию <br>по подбору пульсометра 
		p.consultation__desc Просто заполните форму заявки и мы перезвоним вам в течении 10 минут
		include ../elements/form