extends ../template

block variables
	- var title = 'Your site | what do'

block content
	include ../blocks/section-promo
	include ../blocks/section-advantage
	include ../blocks/section-form
	include ../blocks/section-slider
	include ../blocks/section-catalog
	include ../blocks/section-review
	include ../blocks/footer
	include ../elements/modal
	include ../elements/up-btn