block variables
include mixins

doctype html
html(lang="ru")
	head
		title #{title}
		meta(charset="utf-8")
		meta(content="" name="author")
		meta(content="" name="description")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
		meta(name="HandheldFriendly" content="true")
		meta(name="format-detection", content="telephone=no")
		meta(content="IE=edge" http-equiv="X-UA-Compatible")
		link(rel="stylesheet", type="text/css" href="css/style.css")
		
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body.page
		
		block content
		block vendors
			//- vendors libs
			script(src="libs/jquery.min.js")
			script(src="libs/slick.min.js")
			script(src="libs/jquery.validate.min.js")
			script(src="libs/jquery.maskedinput.min.js")
			

		block scripts
					
			
			script( src="js/bundle.min.js")

