extends ../template

block variables
	- var title = 'СФЕРА-С | Стратегия Успеха'

block content
	include ../parts/nav
	include ../parts/header
	include ../parts/about
	include ../parts/troubles
	include ../parts/service
	include ../parts/result
	include ../parts/price
	include ../parts/form
	include ../parts/footer