section.about#about.py
	.container
		h3 О нашей <span class='rect-lg'>компании</span>
		p Наш основной продукт - это технология <span class='rect-sm'>VkTracker</span>, позволяющая определять контакты посетителей вашего сайта, которые по разным причинам не оставили заявку. Мы предлагаем инструменты, которые позволят <span class='rect-sm'>посетителей</span> вашего сайта перевести в категорию <span class='rect-sm'>«покупатели»</span>.
		p Являясь маркетинговым агенством полного цикла, мы идем от создания сайта до рекламной кампании для него, и создания растущего целевого трафика. Помогаем увеличить эффективность рекламной кампании как таковой. Наша технология позволит извлечь еще большую прибыль из потока клиентов на вашем сайте.