footer#contact
	.container
		.footer-top
			.adress
				h4 адрес
				p Республика Мордовия
				p 43 00 12  г.Саранск 
				p ул.Пролетарская 81а
			.contact
				h4 контакты
				a(href="tel: 8 800 222 34 14") 8 800 222 34 14
				a(href="tel:+7 927 190 76 88 ") +7 927 190 76 88 
				a(href="mailto:sfera2019s@yandex.ru") sfera2019s@yandex.ru 
			.aboutUs
				h4 О нас
				a(href="http://www.sfera-s.net/politic.pdf" target='_blank') Соглашение об обработке данных
				p s
				a(href="http://www.sfera-s.net/politic.pdf" target='_blank') Политика конфиденциальности
		.footer-bottom
			p &copy; ООО «Сфера–С», 2019
