header.showcase#main
	.container
		.showcase-content
			h2 найди свою
			h2.h2-bold стратегию 
			h2.h2-bold успеха
			p.main-text Мы предлагаем уникальную технологию для <span class='accent-text'>увеличения объема ваших продаж</span>
			.leads
				p.lead Начните получать от 30 до 1600
				p.lead новых обращений в день
			.showcase-buttons
				a.btn(href="#service").btn-header Узнать подробнее
				a.btnPur(href="#form").btn-header оставить заявку
					+icon('right-arrow')