nav.navbar
	.container
		a.navbar-logo(href="index.html")
			+icon('logo')
		include ../modules/menu
		.navbar-phone__wrap
			+icon('phone')
			a.navbar-phone(href="") 8 800 222 34 14
		include ../modules/mobBtn
		