section.price.py#price
	.container
		h3.rect-lg Тарифные планы
		.price-block
			.man-po
				img(src="../img/man-po.png")
			.tarifes
				table
					thead
						tr
							th
							th Старт
							th Стандарт
							th Профи
					tbody
						tr
							td Телефонные номера
							td 300
							td 800
							td 2 500
						tr
							td Виджет обратного звонка
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
						tr
							td Интеграция с CRM-системой
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
						tr
							td Техническая поддержка
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
						tr
							td Доступ в закрытый клуб клиентов
							td 
								+icon('check-mark')
							td 
								+icon('check-mark')
							td мастер–группа
						tr
							td Сценарий продаж
							td стандартный
							td индивидуальный
							td индивидуальный
						tr
							td Личный менеджер внедрения
							td 
								+icon('close-cross')
							td 
								+icon('close-cross')
							td 
								+icon('check-mark')
						tr
							td Аудит сайта и рекламной кампании
							td 
								+icon('close-cross')
							td 
								+icon('close-cross')
							td 
								+icon('check-mark')
					tfoot
						tr
							th
								img(src="../../img/scroll.png")
							th 25 000 руб.
							th 50 000 руб.
							th 100 000 руб.
			.y
				img(src="../img/y.png")
			