section.result.py
	.container
		h3 Что вы получите <span class='rect-lg'>в итоге</span> ? 
		.block-wrap
			.result-block
				.result-top
					.arr-1
						img(src="../img/result/arr1.png")
					.img-wrap
						img(src="../img/result/contact.png")
						h4.title Контакты <br> потенциальных клиентов
					.arr-2
						img(src="../img/result/arr2.png")

				.result-center
					.img-wrap
						img(src="../img/result/cash.png")
						h4.title Увеличение прибыли
					.img-wrap.lock
						img(src="../img/result/lock.png")
					.img-wrap
						img(src="../img/result/new.png")
						h4.title Новые заявки
				.result-bottom
					.arr-3
						img(src="../img/result/arr4.png")
					.img-wrap
						img(src="../img/result/sale.png")
						h4.title Увеличение продаж
					.arr-4
						img(src="../img/result/arr3.png")
			.man
				img(src="../img/man-cash.png")