section.service#service.py
	.container
		.service-content
			h3 Какие <span class='rect-lg'>услуги</span> мы предлагаем?
			p Установка кода, который определяет контактные даные посетителей вашего сайта, которые <span class='rect-sm'>пока не оставили заявку</span>.
			p Обеспечение сайта дополнительным функционалом: парсинг, тригерные рассылки, всплывающее окно, автодозвон, обогащение заявки, виджет захвата заявки, «обратный звонок».
			p  Установка на сайт различных фильтров: список белых страниц, черный список посетителей и др.
			p Все для увеличения Ваших продаж!
		.man
			img(src="../img/man.png")