-
	var troubles = [
	{
		title: 'Низкая конверсия сайта',
		descr: 'На каждые 100 посетителей, которые зашли на ваш сайт, заявку оставляет всего 1-2 человека',
		},
	{
		title: 'Большие вложения в рекламу - низкий результат',
		descr: 'Вы дорого платите за каждый <span class="rect-sm">клик</span> , и в результате каждая заявка от клиента стоит, действительно, дорого. <span class="rect-sm">В итоге</span> реклама приносит низкую отдачу'
		},
	{
		title: 'Недостаточный объем продаж',
		descr: 'Вы давно ищите новые инструменты, которые могут быстро увеличить ваши продажи, но пока безуспешно',
		}

	]
	
-
	var decision = [
	{
		title: 'Конверсия сайта станет 20-30%',
		descr: 'Наш инструмент определяет <span class="rect-sm">20 посетителей</span> на каждые 100 зашедших. Вы получаете высокую конверсию и много новых контактов клиентов',
	},
	{
		title: 'Возврат инвестиций на каждый рубль рекламы',
		descr: 'Мы <span class="rect-sm">уменьшаем стоимость клика</span>. Вы получаете большую отдачу за меньшие деньги, вложеные в рекламу',
	},
	{
		title: 'Ваша прибыль значительно возрастёт',
		descr: 'Система начинает определять посетителей буквально в день установления продукта. Это значит, что уже завтра вы сможете получать <span class="rect-sm">больше лидов</span>, а значит больше сделок'
	}
	]


section.troubles.py
	.container
		h3 Какие <span class='rect-lg'>проблемы бизнеса</span> мы решаем?
		.troubles-block
			.trouble
				h4 Проблемы
				each val in troubles
					.trouble-wrap
						p.troubles-title= val.title
						p.descr!= val.descr
				.q
					img(src="../img/quest.png")
			.decision
				.k
					img(src="../img/key.png")
				h4 Решения
				each item in decision
					.decision-wrap
						p.troubles-title= item.title
						p.descr!= item.descr
				