.btn {
  display: inline-block;
  color: #fff;
  background: $brand-color;
  padding: 15px 45px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.55s ease;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background-color: darken($brand-color, 10%);
  }

  &:active {
    background-color: darken($brand-color, 20%);
  }

  &:focus {
    background-color: darken($brand-color, 10%);
  }
}