form.form(action="#")
	.form__group
		input.form__input(type="text" required placeholder='Ваше имя' name='name')
	.form__group
		input.form__input(type="tel" required placeholder='Ваш телефон' name='phone')
	.form__group
		input.form__input(type="email" required placeholder='Ваш E-mail' name='email')
	input(type="submit", value="заказать кОНСУЛЬТАЦИЮ").btn.btn_form