.overlay
	.modal#consultation
		.modal__close &times;
		h2.modal__title Просто заполните форму заявки
		h3.modal__subtitle и мы перезвоним вам в течении 10 минут
		include form

	include modal-order
	include modal-thanks