extends ../template

block variables
	- var title = 'Татуаж в Москве - Перманентный макияж бровей, глаз и губ | Di-Tattoo'

block content
	include ../parts/nav
	include ../parts/header
	include ../parts/main
	include ../parts/price
	include ../parts/portfolio
	include ../parts/contact