.about {
	display: flex;

	width: 100%;
	background: url('../img/aboutBg.jpg') no-repeat top center/cover;


	@include phones {
		background-position: 30% 0px;
	}

	@include normal {
		background-position: 30% 0px;
	}

	@include tablets {
		background-position: 30% 0px;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	h3 {
		color: #fff;
		margin-bottom: 92px;

		@include phones {
			margin-bottom: 50px;
		}
	}

	.rect-lg {
		background: #fff;
		color: $blue;
	}

	.rect-sm {
		@include phones {
			background: none;
			padding: 0;
			color: #fff;
		}
	}

	p {
		width: 670px;
		font-size: 24px;
		font-weight: 500;
		line-height: 35.97px;
		color: #fff;

		@include tablets {
			width: 100%;
		}

		@include phones {
			width: 100%;
			font-size: 15px;
			line-height: 1.6;
		}

		&:last-child {
			margin-top: 50px;

		}
	}
}