.navbar {
	padding: 11px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		@include normal {
			flex-direction: column;
			justify-content: center;
		}

		@include tablets {
			flex-direction: column;
			justify-content: center;
		}
	}

	.navbar-logo {
		.icon-logo {
			width: 210px;
			height: 58px;
		}
	}
}

.navbar-phone__wrap {
	display: flex;
	align-items: center;
}

.navbar-phone {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 5px;

	@include normal {
		margin-top: 10px;
	}

	@include tablets {
		margin-top: 10px;
	}

	@include phones {
		display: none;
	}
}

.icon-phone {
	width: 26px;
	height: 26px;

	@include phones {
		display: none;
	}
}

.navbar.fixed {
	background: #fff;
}