//fonts
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

// color
$border: rgba(102, 166, 229, 0.12);
$borderNav: rgba(102, 165, 229, 0.671);

$primaryColor: #af9a7d;
$primaryColor: #3ebbb7;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.35s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
