extends ../template

block variables
	- var title = 'Active Box | Be Awesome'

block content
	include ../parts/nav
	include ../parts/header
	include ../parts/secFeatures
	include ../parts/secWork
	include ../parts/secTeam
	include ../parts/secSlider
	include ../parts/contact
	include ../parts/footer