section.contact#contact
	.container
		h2 Контакты
		.contact-block
			.map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.391410644954!2d37.48548871576114!3d55.6995679035642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c3844c13ae1%3A0xf02b29c9ae23e951!2z0YPQuy4g0JLQuNC90L3QuNGG0LrQsNGPLCAyMSwg0JzQvtGB0LrQstCwLCAxMTkxOTI!5e0!3m2!1sru!2sru!4v1508872182882"   allowfullscreen)
			.bio
				a(href='tel:+7(926)7773577')
					i.fas.fa-mobile-alt &nbsp; +7 (926) 777 - 35 - 77
				a(href='mailto:ditattoo@yandex.ru')
					i.fas.fa-envelope-open &nbsp; ditattoo@yandex.ru
				a(href='javascript:void(0)')
					i.far.fa-clock &nbsp; 09:00 - 21:00 без выходных
				a(href="https://yandex.ru/maps/-/CBU~vTSmpC" target="_blank")
					i.fas.fa-map-marker-alt &nbsp; Москва, ул. Винницкая, 21