header.showcase#main
	.container
		.showcase-content
			h1 Добро пожаловать на мой сайт!
			p Меня зовут Диана и я оказываю услуги по нанесению перманентного макияжа. В первую очередь я забочусь о комфорте и безопасности своих клиентов. В работе используются только качественные пигменты, которые обладают хорошей устойчивостью, гипоаллергенны и безвредные для здоровья. Местная анестезия применяется с учётом противопоказаний и индивидуальных особенностей. Все работы проводятся с применением одноразовых расходных материалов. Буду рада помочь вам создать ваш индивидуальный выразительный образ и подчеркнуть вашу природную красоту.
			a.btn.contact-link(href="#contact") Подробнее