nav.navbar
	.container
		a.navbar-logo(href="index.html")
			img(src="./img/general/logowhite.png", alt="Di-Tattoo")
		include ../modules/menu
		include ../modules/social-icons
		include ../modules/mobBtn