section.portfolio#portfolio
	.container
		h2 ПОРТФОЛИО
		.fotorama(data-nav='thumbs' data-maxwidth="0" data-width='100%' data-height='70%' data-loop="true" data-arrows="true" data-click="true" )
			img(src='./img/content/15.jpg' alt='Брови. Техника «Напыление»')(data-caption='Брови. Техника «Напыление»')
			img(src='./img/content/16.jpg' alt='Брови. Техника «Растушевка»')(data-caption='Брови. Техника «Растушевка»')
			img(src='./img/content/13.jpg' alt='Глаза. Стрелочки')(data-caption='Глаза. Стрелочки')
			img(src='./img/content/14.jpg' alt='Брови. техника «Напыление»')(data-caption='Брови. Техника «Напыление»')
			img(src='./img/content/5.jpg' alt='Татуаж бровей')(data-caption='Брови. Микроблейдинг')
			img(src='./img/content/1.jpg' alt='Татуаж бровей')(data-caption='Брови. Микроблейдинг')
			img(src='./img/content/2.jpg' alt='Татуаж бровей')(data-caption='Брови. Микроблейдинг')
			img(src='./img/content/3.jpg' alt='Татуаж бровей')(data-caption='Брови. Микроблейдинг')
			img(src='./img/content/6.jpg' alt='Татуаж бровей')(data-caption='Брови. Микроблейдинг')
			img(src='./img/content/9.jpg' alt='Татуаж губ')(data-caption='Губы. Акварельная техника')
			img(src='./img/content/7.jpg' alt='Микроблейдинг и межресничное заполнение век')(data-caption='Брови и глаза. Микроблейдинг и межресничное заполнение век')
			img(src='./img/content/8.jpg' alt='Татуаж глаз')(data-caption='Глаза. Перекрытие и исправление старого татуажа')
			img(src='./img/content/10.jpg' alt='Татуаж губ')(data-caption='Губы. Акварельная техника')
			img(src='./img/content/11.jpg' alt='Татуаж губ')(data-caption='Губы. Акварельная техника')
			img(src='./img/content/4.jpg' alt='Татуаж бровей')(data-caption='Брови. Техника растушевка')
			img(src='./img/content/12.jpg' alt='Татуаж глаз')(data-caption='Глаза. Стрелочки по макету клиента')