.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: $mainBlack;
  background: $primaryColor;
  padding: 8px 25px;
  border: 3px solid $primaryColor;
  transition: $mainTransition;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background: transparent;
    color: $primaryColor;
  }
  &:focus {
    background: transparent;
    color: $primaryColor;
  }
  &::active {
    background: transparent;
    color: darken($primaryColor, 20%);
  }
}
