-var menu = ["Features","Works","Our Team", "Testimonials"]
-var link = ['#features', '#works', '#team', '#testimonials']


ul.menu-list
	-for(var i= 0; i < menu.length; i++)
		li.menu-item
			a.menu-link(href= link[i])= menu[i]
