header.header
	.container
		h1.h1.h1-white Your Favorite One Page Multi Purpose Template
		h4.h4.h4-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel	scelerisque nisl consectetur et.
		a(href='#contact').btn Find Out More