section.secSlider#testimonials
	.slider
		.slider-content
			img(src="./img/testimonial-1.jpg", alt="")
			blockquote
				p "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
					cite.author Susan Sims, Interaction Designer at XYZ
		.slider-content
			img(src="./img/testimonial-2.jpg", alt="")
			blockquote
				p "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum in nostrum inventore architecto mollitia officiis voluptatibus eum fugiat blanditiis nam..."
					cite.author SomeOneElse , Web Developer 