@import './mixin';

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: $museo;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  &_left {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    line-height: 42px;
    @include m {
      font-size: 20px;
      text-align: center;
    }
  }
  @include m {
    font-size: 20px;
  }
}

.container {
  @include container();
}
