//*********************************************
//		Center element
//*********************************************
@mixin centered($axis: 'both') {
  position: absolute;
  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

//*********************************************
//		Transition
//*********************************************
@mixin easeOut() {
  transition: all 0.5s ease-out;
}

//*********************************************
//		container
//*********************************************
$offset: 30px;
$offset_one_side: ($offset / 2);
@mixin col-offsets($type) {
  #{$type}-left: $offset_one_side;
  #{$type}-right: $offset_one_side;
}
$columns: 12;
$atom: (100% / $columns);

@mixin container() {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding-left: $offset;
  padding-right: $offset;
}

//*********************************************
//		Media
//*********************************************
@mixin xs() {
  @media screen and (min-width: 575px) {
    @content;
  }
}

@mixin s() {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin m() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin l() {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin El() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
